div#experienced {
    /* float: left; */
    width: 100%;
    padding: 30px 0px;
}

.work {
    background: #000;
}

.work-left {
    text-align: right;
    padding: 4em 5em 0 0;
}

.work-right {
    border-left: 4px solid #ebebec;
    padding: 4em 0 2em 6em;
}

.work-info h4 {
    font-size: 1.2em;
    display: inline-block;
    padding: .4em 1.2em;
    color: #fff;
    position: relative;
    background: #1b1b1b;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    box-shadow: 0 8px 18px 0 rgba(0, 0, 0, 0.2), 0 4px 7px 0 rgba(0, 0, 0, 0.19);
}

.work-info h4:before {
    width: 0;
    height: 0;
    position: absolute;
    content: '';
    top: 9px;
    right: -10px;
    border-style: solid;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #1b1b1b;
}

.work-info h5 {
    font-size: 1.0em;
    color: #00a98f;
    text-transform: uppercase;
    margin-bottom: .5em;
    display: inline-block;
    padding: 0 1.2em;
    letter-spacing: 1px;
    text-shadow: 2px 2px 0px rgba(74, 76, 76, 0.09);
    font-weight: 700;
}

.work-info h5 span.fa {
    font-size: 1.0em;
    color: #ffffff;
    background: #5b3859;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    transition: .5s all;
    width: 28px;
    height: 28px;
    text-align: center;
    line-height: 29px;
}
h3{
       font-family: 'Courgette', cursive !important;
}

.work-right h5 span.fa {
    margin-right: 3.5em;
    margin-left: -7.3em;
}

.work-left2 h5 span.fa {
    margin-left: 3em;
    margin-right: -6.5em;
    z-index: 9;
}

.work-right.work-right2 {
    min-height: 160px;
    float: right;
}

.text-work-left{
    float:left;
}

.work-right.work-right2 h4:before {
    left: -10px;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
}

.work-right.work-right2 h4 {
    margin-top: 0.2em;
}

.work-info:hover h5 span.fa {
    color: #fff;
}

.work-info p {
    font-size: 15px;
    color: #666;
    line-height: 12px;
}

.experience h4.title-w3ls {
    margin-bottom: 20px;
}

h3.tittle_w3layouts.two,
p.sub_para.two {
    text-align: center;
}

.slogan-area {
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 0 20px 0px;
    position: relative;
    z-index: 1;
    clear: both;
    overflow: hidden;
    float: left;
    width: 100%;
}

.slogan-area h1 {
    color: #ffffff;
    
    font-size: 36px;
    font-weight: 600;
    line-height: 42px;
    margin: 0 0 13px;
}

.slogan-area p {
    color: #ffffff;
    font-size: 14px;
    margin: 0;
}




@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

body{
    background: #f2f2f2;
    font-family: 'Poppins', sans-serif;
}

h3{
    font-family: 'Poppins', sans-serif;
}

.social-box .box{
    background: #FFF;
    border-radius: 10px; 
    padding: 40px 10px;
    margin: 20px 0px;
    cursor: pointer;
    transition: all 0.5s ease-out;
}

.social-box .box:hover{
   box-shadow: 0 0 6px #4183D7;
}

.social-box .box .box-text{
    margin:20px 0px;
    font-size: 15px;
    line-height: 30px;
}

.social-box .box .box-btn a{
    text-decoration: none;
    color: #4183D7;
    font-size: 16px;
}

.fa{
     color:#4183D7;
}